body {
    background-color: #737373;
}

div.container {
    width: 780px;
    min-height: 500px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}


.container header > img {
    display: block;
}
.nav {
    text-align: right;
}
.nav a {
    color: black;
    text-transform: uppercase;
    margin: 0 3px;
    padding: 2px;
    text-decoration: none;
    text-align: right;
}
.bottom a{
    text-transform: lowercase;
    font-size: 9px;
}
div.top {
    margin: 0 1 rem
}
div.top span {
    font-size: 60%;
}
div.nav span a:hover {
    text-decoration: underline;
}
.nav span:after {
    content: "|"
}
.nav span:last-of-type:after {
    content: "";
}
.nav a:hover {
    text-decoration: underline;
}
.top nav a img {
    vertical-align: middle;
}

.top img {
    width: 12px;
    height:auto;
}

.middle {
    background-color: #e6e6e6;
}
section.guts {
    display:flex;
    min-height: 200px;
    width: auto;
 
   
}
section.guts aside.nav {
    padding: 1.1rem;
}

div.middle section.guts aside.nav {
    float: left;
    width: 250px;
    min-height: 600px;
    border: 1p red solid line;
}
article.main div.listing  {
    padding: 1rem 0 0 0;
    width: 87%;
    height: auto;
}

aside.nav a{
    display:block;
    border-bottom: 2px solid #61673C;
    font-size: 66%;
    padding: 7px 5px 7px 15px;
    text-align:left;
}
aside.nav a:hover{
    background-color: #213c2b;
    color: white;
    text-decoration: underline;
}
aside.nav div.nav-img-links a {
    padding: 0;
    margin: 0; 
}
aside.nav div.nav-img-links img {
    width: 200px;
    height: auto;

}
div.middle section.guts article.main div.listing{
    padding: 2rem 0 2rem 2rem;
}
div.middle section.guts article.main{
    background-color: #fff;
    border-left: 2px solid darkolivegreen; 
}
aside.nav div.nav-img-links {
    margin-top: 22rem;
    text-align: center;
    
}
aside.nav div.nav-img-links a{
    border-bottom: unset;
}
aside.nav div.nav-img-links a:hover{
    text-decoration: none;
    background-color: unset;

}
article.main div.column {
    width: 100%;
    margin: 0;
}

div.column div.listing{
    font-size: 12px;
    margin: 0 0 6rem;

}

footer {
    background-color: darkolivegreen; 
    color: white;
    font-size: 8px;
    padding: 5px 0;
    text-align: center;
}
article.main  {
    display:block;
    text-align: justify;
    text-justify: inter-word;


}
div.bottom {
    width: 95%;
    margin: 0rem 1rem;

}


div.column div.listing span {
    color: rgb(179, 8, 8); 
    font-weight: bold;

}
